.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid white;
    border-radius: 5%;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: transparent;
    backdrop-filter: blur(20px);
    
  }
.l-r-form{
    display: flex;
    flex-direction: column;
}

h2{
    color: white;
}

  label{
    text-align: left;
    padding: 1rem 0;

  }
  .input-box{
    margin: 0.5rem 0;
    padding: 1rem;
    border: none;
    border-radius: 0.7rem;
    transition: 1s ;
  }

  .input-box:focus{
    transform: scale(1.1);
  }

  button{
    border: none;
    background-color: white;
    padding: 1.2rem;
    border-radius: 0.7rem;
    cursor: pointer;
  }

.link-btn{
    background: none;
    color: white;
    text-decoration: underline;

}

@media(max-width:390px){
  .form-container{
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
    margin: 0;
  }
 .input-box input{
  width: 100%;
 }
 .l-r-form{
  width: 100%;
}
}

